.about,
.featured-block {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about {
  height: 540px;
  background-image: url(../imgs/about--bg-1.jpg);

  &__header {
    padding-top: 1px;
  }

  &__title,
  &__paragraph,
  &__li {
    color: #fff;
  }

  &__title {
    text-transform: uppercase;
    text-align: left;
  }

  &__paragraph {
    margin-bottom: 30px;
    line-height: 18px;

    &_uppercase {
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  &__list {
    list-style-position: inside;
  }

  &__li {
    margin-top: 20px
  }

}

.featured-block {
  display: flex;
  flex-direction: column;
  height: 680px;
  margin-top: 100px;
  background-image: url(../imgs/about--bg-2.jpg);

  &__container {
    padding-left: 50px
  }

  &__title{
    margin-bottom: 10px
  }

  &__paragraph {
    margin-bottom: 15px;
    color: #fff;
    font-weight: 600;
    line-height: 18px;
  }

  &__interactive {
    position: relative;
    // max-width: 1000px;
    // width: 100%;
    width: 74%; // На больших экранах отображаестя нормально. Проценты опрпделены исходя из фона.
    margin: 0 auto;
    flex-grow: 1;
  }
}

#popper {
  &_1 {
    top: 6%;
    left: 10%
  }

  &_2 {
    top: 53%;
    left: 40%;
  }

  &_3 {
    top: 23%;
    left: 2%;
  }

  &_4 {
    top: 30%;
    left: 50%;
  }

  &_5 {
    top: 33%;
    left: 14%;
  }

  &_6 {
    top: 19%;
    right: 6%;
  }

  &_7 {
    top: 29%;
    left: 26%;
  }

  &_8 {
    bottom: 29%;
    right: 32%;
  }

  &_9 {
    top: 10%;
    right: 22%;
  }

  &_10 {
    top: 11%;
    right: 48%;
  }
}