.flex {
  @extend %flexCenterXY;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #000;

  &_underlined {
    text-decoration: underline;
  }

  &_tel {
    display: block;
    font-weight: bold;
    font-size: 18px;
  }
}

div[class$="column"] {
  display: flex;
}

.capital {
  text-transform: uppercase;
}

.list {
  list-style: none;
  padding-left: 0;

  &_ordered {
    list-style: inside decimal;
  }
}

.btn {
  @extend %flexCenterXY;

  height: 35px;
  padding: 6px 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $primary-color;
  border: transparent;
  border-radius: 5px;

  &_bordered {
    height: 40px;
    color: $dark-gray;
    font-size: 24px;
    line-height: 29px;
    text-transform: initial;
    border: 1px solid $primary-color;
    background-color: transparent;
  }

  &_show-more {
    width: 250px;
    margin: 75px auto 0;
  }

  &_txt-only {
    padding: 0;
    color: $primary-color;
    border: transparent;
    background: transparent;
  }
}

.icon {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;

  &_user {
    background-image: url(../imgs/user.svg);
    margin-right: 7px
  }

  &_tel {
    margin-right: 10px;
    background-image: url(../imgs/tel.svg);
  }

  &_cart {
    background-image: url(../imgs/cart.svg);
  }

  &_filter {
    background-image: url(../imgs/filter.svg);
    margin-left: 40px;
    margin-right: 40px;
  }

  &_search {
    background-image: url(../imgs/search.svg);
  }

  &__badge {
    @extend %flexCenterXY;

    position: absolute;
    width: 16px;
    height: 9px;
    font-size: 8px;
    color: #fff;
    font-style: normal;
    background-color: $primary-color;
    border-radius: 5px;

    &_cart {
      top: 5px;
      right: -16px;
    }

    &_filter {
      // top: 0;
      right: -16px;
    }
  }

  &_wallet {
    background-image: url(../imgs/payments--wallet.svg);
  }

  &_card {
    background-image: url(../imgs/payments--card.svg);
  }
}


// Цена без скидок (зачеркнутый)
[class$="price_original"] {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #676767;
  font-size: 18px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 70px;
    border-top: 1px solid #676767;
  }
}

.section {
  padding-top: 15px;
  padding-bottom: 15px;

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: $dark-gray;
    margin-top: 0;
    padding-top: .6rem;
  }

  &__desc {
    text-align: center;
    font-size: $font-14;
  }
}

// Хлебные крошки

.breadcrumbs {
  // margin-top: 10px;
  padding-top: 10px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 17px;

    &:not(:first-child) {
      padding-left: 15px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 6px;
        width: 5px;
        height: 5px;
        border-right: 1px solid $secondary-color;
        border-bottom: 1px solid $secondary-color;
        transform: rotate(-45deg) translateY(-50%);
      }
    }

    &:last-child {
      color: #000;
    }

  }

  &__link {
    color: $secondary-color;
    font-size: 14px;
    line-height: 17px;
  }
}

// Блок с загаловком 
.title-bar {
  height: 140px;
  background: url(../imgs/banner-bg.png) no-repeat center top;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-top: 35px;
    color: $dark-gray;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;

    &_centered {
      text-align: center;
    }
  }
}

.main {
  background: url(../imgs/main--bg.png)
}

// Продукты

.products {
  &__grid {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  &__product {
    // Полужегние по умодчанию: вертикально
    position: relative;
    width: 100%; // width: 258px;
    height: 318px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 25px;
    border: 1px solid #B0B0B0;
    border-radius: 10px;
    cursor: pointer;

    &:hover .products__discount-percentage {
      background-color: $primary-color;
      color: #fff;
    }

    &_horizontal {
      width: 367px;
      height: 160px;
      padding-top: 15px;
      padding-bottom: 15px;
      flex-direction: row;
      font-weight: bold;
      font-size: 18px;
      // line-height: 22px;

      // &>section {
      //   width: 50%
      // }
    }
  }

  &__thumb {
    @extend %flexCenterXY;

    &_large {
      margin-right: 50px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // margin-top: 20px
  }

  &__name {
    font-size: 18px;
    color: #676767;
    font-weight: bold;
    // margin-top: 10px;

    &_large {
      margin-top: 35px;
      margin-bottom: 6px;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__model {
    font-size: 18px;
    color: $primary-color;
    margin-top: 5px;
    margin-bottom: 5px;

    &_large {
      font-size: 36px;
      line-height: 44px;
    }
  }

  &__price {
    font-weight: bold;
    font-size: 24px;

    &_large {
      margin-top: 65px;
      font-size: 36px;
      line-height: 44px;
    }

    &_modifier {
      position: relative;
      top: -8px;
      font-size: 12px;

      &-large {
        top: -20px;
        font-size: 18px;
        line-height: 22px;
      }
    }

    // Цена без скидок вынесана в начало в целях DRY
  }

  &__discount-percentage {
    @extend %flexCenterXY;
    position: absolute;
    top: -1px;
    // right: -1px; Перенесено в XL
    left: -1px;
    height: 35px;
    padding: 5px;
    color: $dark-gray;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid #633176;
  }

  &__btn-buy {
    @extend %flexCenterXY;

    margin-top: 15px;
    margin-bottom: 25px;
    padding: 6px 20px;
    font-size: 24px;
  }

  &__sign {
    display: flex;
    align-items: center;
    height: 25px;
    padding-left: 33px;
    font-size: 11px;
    line-height: 13px;
    color: #676767;
    background: url(../imgs/recommended.svg) no-repeat left center
  }
}

// Отзывы о товарах

.testimonials {
  padding-bottom: 60px;

  &__article {
    font-size: 19px;
    line-height: 23px;

    &-header {
      display: flex;
    }
  }

  &__img {
    width: 180px
  }

  &__header-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $dark-gray
  }

  &__model {
    font-weight: normal;
    color: $primary-color
  }

  &__author {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

// Рейтинг товара

.rating {
  display: flex;
  align-items: center;

  &__testimonials-count {
    margin-left: 20px;
    font-size: 16px;
    line-height: 20px;
    color: $secondary-color;
  }

  &__stars-count {
    margin-left: 5px;
    color: $dark-gray;
    font-size: 13px;
    line-height: 15px;
  }
}

// Табы

.tabs {
  &__btns {
    list-style: none;
    display: flex;
  }

  &__tab {
    @extend %flexCenterXY;
    width: 150px;
    height: 60px;
    padding-bottom: 8px;
    font-family: $secondary-font;
    color: $primary-color;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;

    &_active {
      color: #fff;
      background: url(../imgs/tabs--btn-bg.svg) no-repeat;
    }
  }
}

// Описание

.full-chars {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 19px;

  &__section {
    width: 32%;
    // flex-grow: 1;
    // flex-basis: 0;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }

  &__basic {
    &-item {
      display: table-row; // flex;
      // justify-content: space-between;
      margin-top: 5px;
      margin-left: 5px;
    }
  }

  &__key,
  &__value {
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 5px;

  }

  &__value {
    padding-left: 20px;
    color: $light-gray;
    text-align: left;
  }

  &__pecularities {
    list-style: inside disc;

    &-item {
      padding-top: 7px;
      padding-bottom: 7px
    }
  }

}

// Форма заявки + доставки
.contact-form {
  width: 370px;
  flex-shrink: 0;
  display: grid;
  grid-gap: 20px 10px;
  grid-template-areas:
    "name tel"
    "text text"
    "checkbox checkbox"
    "btn btn"
    "disclaimer disclaimer";

  &_column {
    width: 280px;
    display: flex;
    flex-direction: column;

    & input {
      width: 100%
    }
  }

  &>*:not(.btn) {
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 19px;
  }

  & input,
  &__text {
    padding: 6px 10px;
    background: #F5F5F5;
    border: 0.5px solid #606060;

    &::placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder {
      color: #CBCBCB;
    }
  }

  &__label {
    font-weight: bold
  }

  &__name,
  &__tel {
    width: 180px;
    margin-top: 10px;
  }

  &__name {
    grid-area: name;
  }

  &__tel {
    grid-area: tel;
  }

  &__text {
    min-width: 100%;
    max-width: 370px;
    min-height: 70px;
    max-height: 70px;
    grid-area: text;
  }

  &__checkbox {
    grid-area: checkbox;
  }

  &__btn {
    width: 200px;
    grid-area: btn;
  }

  &__disclaimer {
    font-size: 8px !important;
    line-height: 11px !important;
    color: #CBCBCB;
    grid-area: disclaimer;
  }

  &__link {
    color: #CBCBCB;
  }

}

// Форма рассылки

.subscription {
  display: flex;
  align-items: flex-start;

  &__header {
    color: $secondary-color;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 37px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  &__form {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &-column {
      margin-top: 10px;
      flex-direction: column;
    }
  }

  &__input {
    height: 40px;
    padding-left: 13px
  }

  &__btn {
    height: 40px;
    font-size: 24px;
    line-height: 29px;
    text-transform: none;
  }

  &__privacy-policy {
    display: flex;
    margin-top: 12px;
  }

  &__checkbox {
    @extend %flexCenterXY
  }

  &__label,
  &__link {
    font-size: 10px;
    line-height: 12px;
    color: $secondary-color
  }

  &__label {
    margin-left: 10px;
    margin-right: 25px; // 30px
  }

  &__link {
    text-decoration: underline;
  }
}

.privacy-policy,
.developer {
  font-size: 14px;
  line-height: 19px;
  font-family: $secondary-font;
}