.cart {
  &-main {
    margin-bottom: 50px;
    background: #fff;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid $primary-color;
  }

  &-product {
    display: flex;
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $primary-color;

    &__thumb {
      @extend %flexCenterXY;
      flex-shrink: 0;
      width: 250px;
    }

    &__content {
      @extend %flexCenterXY;

      justify-content: space-between;
      flex-wrap: wrap;
      margin-left: 50px;

      & ul.list {
        font-family: $secondary-font;
        font-size: 13px;
        line-height: 18px;
      }
    }

    &__header {
      width: 100%;
      flex-shrink: 0;
    }

    &__title {
      color: $dark-gray;
      font-size: 18px;
      line-height: 25px;
    }

    &__price {
      font-size: 24px;
      line-height: 33px;
    }

    &__delete {
      padding: 0 10px;
    }
  }

  &__summary {
    margin-top: 40px;
    margin-left: 280px; // 300px 
  }

  &__info {
    position: relative;
    display: flex;
    width: 11px;
    height: 11px;
    margin-top: -15px;
    margin-left: 5px;
    cursor: help;
  }

  &__info-text {
    display: none;
    position: absolute;
    top: 15px;
    left: 10px;
    width: 150px;
    height: auto;
    padding: 10px;
    color: $dark-gray;
    font-weight: normal;
    font-size: 12px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }



  &-payments {
    margin-top: 30px;

    &__methods {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-top: 20px
      }
    }

    & .icon_wallet,
    & .icon_card {
      width: 36px;
      height: 36px;
      margin-right: 15px;
    }



    &__btn {
      margin-top: 25px;
      text-transform: initial;
    }
  }
}

.icon_info:hover+.cart__info-text {
  display: block !important
}

.pay-deliver-options {
  width: 280px;
  margin-left: 40px;
  flex-shrink: 0;

  & form {
    margin-top: 15px
  }

  & input {
    margin: 0
  }

  & .link:not(.btn) {
    color: $dark-gray
  }
}


.cart__products-count,
.form-title,
.payments-title {
  color: $dark-gray;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.with-delivery,
.cart__total {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px
}

.with-delivery {
  color: $primary-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  label {
    position: relative;

    .cart__info {
      left: 100%;
      top: -10px;
    }
  }
}

.select-city {
  width: 100%;
  height: 100%;
  margin-right: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  &::after {
    right: 12px
  }

  .select-tag {
    padding: 6px 0;
  }
}

.delivered-cities {
  width: 100%;
}

.cart__total {
  padding-left: 20px;
  font-weight: bold;

  &-price {
    font-size: 24px;
    line-height: 33px;
  }
}

.full-chars {
  &__wrapper {
    display: flex;
  }

  &__quantity {
    width: 40px;
    height: 25px;
    color: $dark-gray;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    border: 0.5px solid #8F8F8F;
  }

  &__decrementer,
  &__incrementer {
    width: 25px;
    height: 25px;
    color: $secondary-font;
    font-size: 18px;
    font-family: $secondary-font;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
  }
}