// Футер
.footer {
  padding-top: 20px;
  background-color: #F2F2F2;

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;

    &-section {
      width: 250px
    }
  }

  &__title {
    margin-bottom: 15px;
    color: $dark-gray;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    grid-area: title
  }

  &-menu__link {
    color: $dark-gray;
    font-size: 14px;
    line-height: 30px;
  }

  &__contacts {
    margin-top: 15px;
    margin-bottom: 15px;

    grid-area: contacts
  }

  &__info-bar {
    background-color: #fff;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  &__payments {
    &-methods {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;

      grid-area: payments
    }

    &-img:not(:first-child) {
      margin-left: 10px
    }
  }

}

.socials {
  display: flex;

  grid-area: socials;

  &__link {
    @extend %flexCenterXY;

    width: 35px;
    height: 35px;
    background-repeat: no-repeat;

    &:not(:first-child) {
      margin-left: 10px
    }
  }

  &__vk {
    background-image: url(../imgs/socials--vk.svg)
  }

  &__instagram {
    background-image: url(../imgs/socials--instagram.svg)
  }

  &__whatsapp {
    background-image: url(../imgs/socials--whatsapp.svg)
  }
}

.contacts-text {
  margin-bottom: 15px
}