.header {
  &__top-bar {
    font-size: 12px;
    line-height: 15px;
    background: #F0F0F0;

    &-container {
      height: 34px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__info {
    display: flex;
    padding-top: 15px;
    align-items: center;
    justify-content: space-between;
  }
}

.top-nav {
  &__list {
    display: flex;
  }

  // start media
  &__item:not(:last-child) {
    margin-right: 40px
  }

  // end media
}

.shops {
  &-column {
    width: 250px;
  }

  &-list {
    padding-left: 10px;
  }

  &-count {
    color: $secondary-color
  }
}

.select-wrapper {
  position: relative;
  margin-right: 15px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 36%;
    right: -12px;
    width: 12px;
    height: 7px;
    background-repeat: no-repeat;
  }

  &_region {
    // padding-left: 10px;

    &::before {
      width: 11px;
      height: 11px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-image: url(../imgs/maps-and-flags.svg);
    }

    &::after {
      background-image: url(../imgs/caret--down-full.svg);
    }
  }

  &_lang::after {
    background: url(../imgs/caret--down.svg);
  }
}

.select-tag {
  // padding-right: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: transparent;
  background-color: transparent;
  cursor: pointer
}

.cabinet {
  display: flex;
  align-items: center;
  margin-left: 27px;
}

.logo-section,
.nav-section {
  display: flex;
  flex-direction: column
}

.logo {
  display: flex;
  flex-direction: column;

  &__img {
    width: 298px;
  }
}

.slogan {
  padding-left: 7px;
  font-size: 15px;
  color: $secondary-color
}

.nav-section {
  width: 100%;
}

.secondary-menu-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contacts,
.tel {
  display: flex;
  align-items: center;
}

.header__tel {
  margin-right: 12px;
  font-size: 24px;
  line-height: 29px;
  color: #333;
}

.work-time {
  color: $secondary-color;
  font-size: 14px;
  line-height: 17px;
}

.nav {
  margin-top: 30px;
  margin-bottom: 30px;

  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-between
  }

  &__item {
    position: relative;
    color: $dark-gray;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
  }

  // XL
  // &__item:not(:first-child) {
  //   margin-left: 35px 
  // }
  // XL

  &__link {
    font-size: 15px;
    color: #333
  }

  &__dropdown {
    position: absolute;
    display: flex;
    padding: 20px 40px;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__sub {
    &-menu {
      flex-shrink: 0
    }

    &-item {
      color: $secondary-color;
      font-weight: bold;
      line-height: 18px;
      font-size: 15px;
      text-transform: initial;

      &:not(:first-child) {
        margin-top: 26px;
      }
    }
  }

  &__elected-item {
    color: $dark-gray;

  }
}

.right-column {
  align-items: center
}

.lang {
  font-weight: bold;
}