// Баннер

$banners-height: 445px;

.banner {
  width: 100%;
  height: $banners-height;
  border-radius: 15px;
  box-shadow: $shadow;
  // background: url(../imgs/banner-bg.png) no-repeat center;

  &__slider,
  &__slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: $banners-height;
  }

  // &__thumb,
  // &__info {
  // flex-grow: 1;
  // flex-basis: 0
  // width: 50%;
  // align-self: stretch;
  // }

  .slick-prev,
  .slick-next {
    &:before {
      content: '';
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
    }

    &:hover:before {
      display: block;
    }
  }

  .slick-prev:before {
    background: url(../imgs/arrow--border.svg) no-repeat;
    transform: scaleX(-1);
  }

  .slick-next:before {
    background: url(../imgs/arrow--border.svg) no-repeat;
  }

  &__thumb {
    @extend %flexCenterXY;
    position: relative;
    width: 60% // margin-top: 70px;
  }

  &__img {
    position: relative;
    top: 45px;
    z-index: 1;
  }

  &__bg-decor {
    position: absolute;
    right: 70px; // -70px;
    width: 253px;
    height: 268px;
    background: url(../imgs/banner--bg-decor.svg) no-repeat;
    z-index: 0
  }

  &__info {
    width: 40%;
    padding-left: 50px; // 150px;
  }

  &__title {
    margin: 0;
    color: $dark-gray;
    font-family: $main-bold;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
  }

  &__text {
    max-width: 270px;
    margin-top: 30px;
    color: $dark-gray;
    font-size: 14px;
    line-height: 17px;
  }

  &__btn {
    margin-top: 50px;
    font-family: $main-bold;
    font-size: 24px;
    // line-height: 29px;
    background-color: $accent-blue;
  }
}

// Лучшие прежложения

.recommended {
  padding-bottom: 85px;

  &__tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: $main-bold;
  }

  .tabs {
    &__content_active {
      display: block;
    }

    &__tab {
      @extend %flexCenterXY;
      height: 41px;
      font-size: 24px;
      font-weight: bold;
      color: $primary-color;
      border-radius: 5px;

      &_active {
        color: #fff;
        background: $primary-color;
        padding: 6px 10px;
      }
    }
  }


  &__products {
    margin-bottom: 25px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "big-prod vertical-prod-1"
      "big-prod vertical-prod-2";

    .products {


      &__product {

        // height: 160px;
        &_large {
          .products__info {
            padding-top: 40px;
            padding-bottom: 10px;
          }
        }

        &:first-child {
          grid-area: big-prod;
        }

        &:nth-child(2) {
          grid-area: vertical-prod-1
        }

        &:nth-child(3) {
          grid-area: vertical-prod-2
        }
      }
    }

    /*
    .products__product {
      &:first-child {
        grid-column: 1 / 4;
        grid-row: 1 / 3
      }

      &:nth-child(2) {
        grid-column: 4 / 5;
        grid-row: 1 / 2
      }

      &:nth-child(3) {
        grid-column: 4 / 5;
        grid-row: 2 / 3
      }

      &:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 3 / 4
      }

      &:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 3 / 4
      }

      &:nth-child(6) {
        grid-column: 3 / 4;
        grid-row: 3 / 4
      }

      &:nth-child(7) {
        grid-column: 4 / 5;
        grid-row: 3 / 4
      }
    }
    */
  }
}

// Товар дня

.offer {
  position: relative;
  width: 100%;
  height: 380px;
  padding-top: 40px;
  padding-bottom: 40px;
  // background: url(../imgs/offer-bg.jpg) no-repeat;

  &__header {
    @extend %flexCenterXY;

    position: absolute;
    top: 0;
    height: 63px;
    padding: 15px;
    background-color: $primary-color;
    border-radius: 0 0 30px 30px;
  }

  &__title {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
  }

  &__container {
    // display: flex;
    display: grid;
    grid-template-columns: 40% 40% 20%;
  }

  &__thumb {
    align-self: center
  }

  &__img {
    width: 100%;
  }

  // &__info,
  // &__thumb,
  // &__cta-column {
  //   flex-shrink: 0
  // }

  &__info {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  }

  &__name {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: $secondary-color
  }

  &__model {
    margin-bottom: 5px;
    padding-right: 15%;
    font-size: 48px;
    line-height: 59px;
    color: $primary-color;
  }

  &__price {
    margin-top: 40px;
    font-size: 40px;
    line-height: 49px;
    font-family: $main-bold;
    color: $dark-gray;

    &_original {
      position: relative;
      top: -20px;
      font-family: Montserrat;
      font-size: 24px;
      line-height: 29px;
      color: $secondary-color;
    }
  }

  &__cta {
    &-column {
      // display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &-text {
      position: relative;
      // top: -75px; // LG
      width: 172px;
      font-size: 15px;
      line-height: 22px;
    }

    &-btn {
      margin-left: 28px;
      padding: 6px 20px;
      align-self: flex-start;
      font-family: $main-bold;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__countdown {
    @extend %flexCenterXY;

    position: relative;
    // top: -50px; // LG
    width: 210px;
    height: 120px;
    padding-top: 15px;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 23px;
    line-height: 31px;
    color: #fff;

    background: url(../imgs/offer-countdown-bg.svg) no-repeat;
    background-size: contain;

    &-title {
      position: absolute;
      top: 20px;
    }
  }

  &__countdown-title,
  &__cta-label {
    font-size: 14px;
    line-height: 19px;
    font-weight: normal
  }

  // &__cta-label {
  //   position: absolute;
  //   bottom: 0
  // }

  &__hours,
  &__minutes,
  &__seconds {
    // position: relative;
    font-family: $main-bold;
    font-weight: bold;
    font-size: 23px;
    line-height: 31px;
  }

  &__minutes {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;

    &:after,
    &:before {
      content: ':';
      position: absolute;
      top: 0;
    }

    &:before {
      left: -15px;
    }

    &:after {
      right: -10px;
    }
  }
}

// Преимещества

.features {
  background: #F9F9F9;
  padding-top: 80px;
  padding-bottom: 80px;

  &__block {
    @extend %flexCenterXY;
  }

  &__item,
  &__sub-item {
    @extend %flexCenterXY;
    flex-direction: column;
    width: 190px;
    height: 150px;
    padding: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
  }

  &__item {

    &:first-child,
    &:last-child {
      flex-grow: 1;
      background-color: #A556C2;
    }

    &:nth-child(2) {
      background: #984EB5;
    }

    &:nth-child(3) {
      background: #87459F;
    }

    &:nth-child(4) {
      background: #783D8E;
    }
  }

  &__sub-item {
    // width: 100%;
    padding: 0;

    &_first {
      align-self: flex-end;
    }

    &_last {
      align-self: flex-start;
    }
  }

  &__img {
    width: 60px;
    height: 60px;
  }
}

.recommended,
.sales-hits,
.testimonials {
  background-color: #fff;
}

.sales-hits {
  border-top: 1px solid transparent
}

b {
  font-family: $main-bold;
}