// Баннер

$banners-height: 445px;

.banner {
  width: 100%;
  height: $banners-height;
  border-radius: 15px;
  box-shadow: $shadow;
  background: url(../imgs/banner-bg.png) no-repeat center;

  &__slider,
  &__slide {
    display: flex !important;
    align-items: center;
    height: $banners-height;
  }

  // &__thumb,
  // &__info {
  // flex-grow: 1;
  // flex-basis: 0
  // width: 50%;
  // align-self: stretch;
  // }

  &__thumb {
    @extend %flexCenterXY;
    position: relative;
    width: 60% // margin-top: 70px;
  }

  &__img {
    position: relative;
    top: 45px;
    z-index: 1;
  }

  &__bg-decor {
    position: absolute;
    right: 70px; // -70px;
    width: 253px;
    height: 268px;
    background: url(../imgs/banner--bg-decor.svg) no-repeat;
    z-index: 0
  }

  &__info {
    width: 40%;
    padding-left: 50px; // 150px;
  }

  &__title {
    margin: 0;
    color: $dark-gray;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
  }

  &__text {
    max-width: 270px;
    margin-top: 30px;
    color: $dark-gray;
    font-size: 14px;
    line-height: 17px;
  }

  &__btn {
    margin-top: 50px;
    font-size: 24px;
    line-height: 29px;
    background-color: $accent-blue;
  }
}

// Лучшие прежложения

.recommended {
  padding-bottom: 85px;

  &__tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;

    &-item {
      @extend %flexCenterXY;
      height: 41px;
      font-size: 24px;
      font-weight: bold;
      color: $primary-color;
      border-radius: 5px;

      &_active {
        color: #fff;
        background: $primary-color;
        padding: 6px 10px;
      }
    }
  }

  &__products {
    margin-bottom: 25px;
    grid-template-columns: 2fr 1fr;
    grid-gap: 25px;
    grid-template-areas:
      // "big-prod vertical-prod-1"
      // "big-prod vertical-prod-2";
      "big-prod"
      "vertical-prod-1"
      "vertical-prod-2";

    .products__product {
      &:first-child {
        grid-area: big-prod;
      }

      &:nth-child(2) {
        grid-area: vertical-prod-1
      }

      &:nth-child(3) {
        grid-area: vertical-prod-2
      }
    }

    /*
    .products__product {
      &:first-child {
        grid-column: 1 / 4;
        grid-row: 1 / 3
      }

      &:nth-child(2) {
        grid-column: 4 / 5;
        grid-row: 1 / 2
      }

      &:nth-child(3) {
        grid-column: 4 / 5;
        grid-row: 2 / 3
      }

      &:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 3 / 4
      }

      &:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 3 / 4
      }

      &:nth-child(6) {
        grid-column: 3 / 4;
        grid-row: 3 / 4
      }

      &:nth-child(7) {
        grid-column: 4 / 5;
        grid-row: 3 / 4
      }
    }
    */
  }
}

// Товар дня

.offer {
  position: relative;
  width: 100%;
  height: 380px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(../imgs/offer-bg.jpg) no-repeat;

  &__header {
    @extend %flexCenterXY;

    position: absolute;
    top: 0;
    height: 63px;
    padding: 15px;
    background-color: $primary-color;
    border-radius: 0 0 30px 30px;
  }

  &__title {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
  }

  &__container {
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  }

  &__name {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: $secondary-color
  }

  &__model {
    margin-bottom: 5px;
    padding-right: 15%;
    font-size: 48px;
    line-height: 59px;
    color: $primary-color;
  }

  &__price {
    margin-top: 40px;
    font-size: 40px;
    line-height: 49px;
    color: $dark-gray;

    &_original {
      position: relative;
      top: -20px;
      font-size: 24px;
      line-height: 29px;
      color: $secondary-color;
    }
  }

  &__cta {
    &-column {
      // display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &-text {
      position: relative;
      // top: -75px; // LG
      width: 172px;
      font-size: 15px;
      line-height: 22px;
    }

    &-btn {
      margin-left: 28px;
      padding: 6px 20px;
      align-self: flex-start;
    }
  }

  &__countdown {
    @extend %flexCenterXY;

    position: relative;
    // top: -50px; // LG
    width: 210px;
    height: 120px;
    padding-top: 15px;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 23px;
    line-height: 31px;
    color: #fff;

    background: url(../imgs/offer-countdown-bg.svg) no-repeat;
    background-size: contain;

    &-title {
      position: absolute;
      top: 20px;
    }
  }

  &__countdown-title,
  &__cta-label {
    font-size: 14px;
    line-height: 19px;
    font-weight: normal
  }

  // &__cta-label {
  //   position: absolute;
  //   bottom: 0
  // }

  &__hourse,
  &__minutes,
  &__seconds {
    // position: relative;
    font-weight: bold;
    font-size: 23px;
    line-height: 31px;
  }

  &__minutes {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;

    &:after,
    &:before {
      content: ':';
      position: absolute;
      top: 0;
    }

    &:before {
      left: -15px;
    }

    &:after {
      right: -10px;
    }
  }
}

// Как заказать мебель

/*.steps-to-buy {
  padding-top: 35px;
  padding-bottom: 35px;
  background: #F9F9F9;

  &__grid {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
  }

  &__title {
    display: inline-grid;
    padding-left: 7px; // MediaQ
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;

    &_accent {
      color: $primary-color;
    }
  }

  &__step {
    position: relative;
    width: 100%;
    height: 115px;
    display: flex;
    // justify-content: center;
    align-items: center;

    &:first-child::before,
    &:first-child::after {
      display: none
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 40px;
      height: 3px;
      width: 138px;
      background: linear-gradient(270deg, #FFFFFF 26.44%, rgba(255, 255, 255, 0) 96.34%), #633176;
    }

    &:before {
      top: 0
    }

    &:after {
      bottom: 0
    }

    &-num {
      position: relative;
      font-size: 24px;
      line-height: 29px;
      color: $primary-color;

      &:before,
      &:after {
        content: '';
        position: absolute;
        height: 22px;
        border-left: 1px solid $dark-gray;
        left: 50%;
      }

      &::before {
        top: -30px
      }

      &::after {
        bottom: -30px
      }
    }

    &-desc {
      position: relative;
      width: 180px;
      margin-left: 29px;
      font-size: 14px;
      line-height: 17px;
      color: $dark-gray;
    }
  }
}
*/

// Преимещества

.features {
  background: #F9F9F9;
  padding-top: 80px;
  padding-bottom: 80px;

  &__block {
    @extend %flexCenterXY;
  }

  &__item,
  &__sub-item {
    @extend %flexCenterXY;
    flex-direction: column;
    width: 190px;
    height: 150px;
    padding: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  &__item {

    &:first-child,
    &:last-child {
      flex-grow: 1;
      background-color: #A556C2;
    }

    &:nth-child(2) {
      background: #984EB5;
    }

    &:nth-child(3) {
      background: #87459F;
    }

    &:nth-child(4) {
      background: #783D8E;
    }
  }

  &__sub-item {
    &_first {
      align-self: flex-end;
    }

    &_last {
      align-self: flex-start;
    }
  }

  &__img {
    width: 60px;
    height: 60px;
  }
}

.recommended,
.sales-hits,
.testimonials {
  background-color: #fff;
}